{#
this callout box component reads the current page's path and then sets the 
border color based on that path. E.g. if the page is in the visit section then
the callout box gets an orange border.
#}

{% set path = path('<current>') %}

{% if '/visit/' in path %}
    {% set bordercolor = '#f18b21' %}
{% elseif '/animals/' in path %}
    {% set bordercolor = '#c8dc65' %} 
{% elseif '/support/' in path %}
    {% set bordercolor = '#5ac4be' %} 
{% elseif '/membership/' in path %}
    {% set bordercolor = '#f26b6c' %} 
{% elseif '/education/' in path %}
    {% set bordercolor = '#c44d58' %} 
{% elseif '/conservation/' in path %}
    {% set bordercolor = '#627e9c' %}                        
{% else %}
    {% set bordercolor = '#d3d4d4' %}    
{% endif %}

{% if content %}
    <div class="pt1 pr1 pb1 pl1 mt1 mb1" style="border: 1px solid {{ bordercolor }}; border-left-width: 4px; border-radius: 4px">
        {{ content }}
    </div>
{% endif %}