.btn {
    padding: 0.5em 0.75em;
    border: 2px solid;
    border-radius: 3px;
    color: $white;
    cursor: pointer;
    position:relative;
    &:after {
        content: "\ea3c";
        padding-left: 5px;
        font-family: 'mpp-icons';
        transition: all 0.4s ease-in-out;
    }
    &:hover:after {
        margin-left:15px;
        transition: all 0.4s ease-in-out;
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        width: 0;
        height: 2px;
        left:0;
        }
    &:hover:before {
        width:100%;
        transition:all 0.3s ease-in-out;
        transition-delay:0.2s;
    }



    @include m(primary) {
        border-color:$mpp-green;
        color: $mpp-green;
        &:before {
            background: $mpp-green;
        }
    }

    @include m(secondary) {
        border-color: $mpp-slate;
        color: $mpp-slate;
        &:before {
            background: $mpp-slate;
        }
    }
}

input[type="submit"] {
    @extend .btn;
    @extend .btn--primary;
}