{% if content %}
    <details>
    <summary {{region_attributes.summary}}>
        {{ content.summary }}
      </summary>
      <div {{region_attributes.content}}>
        {{ content.content }}
      </div>
    </details>
{% endif %}